{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container">
    <br>
      <div class="row">
        <!--Group Members-->
        <div class="col col-12 col-md-8 divbdy">
          <br>
          <h2 style="color: blue;"><u>About Us</u></h2>
            <p>Check out our <a href="https://github.com/ShailMathur/Project2--Olympic-Track-and-Field-Insight">Github</a> Page <br>
            Source of our data located <a href="https://www.kaggle.com/jayrav13/olympic-track-field-results?select=results.csv">here</a></p>          
          <hr>
          <img src="{{ url_for('static', filename='images/olympic_events.jpeg') }}" width="680" height="470" style="float: right;"></img>
          <h2>Project Members and Roles </h2>
          <ul>
            <li><b>Visualization Lead: </b>Shailja Mathur</li>
            <li><b>Html and CSS Lead: </b>Peter Drozdzewicz</li>
            <li><b>Javascript Lead:</b> Wei Wu</li>
            <li><b>SQL Lead:</b> Huss Issa</li>
            <li>Donald Yakam</li>
            <li>Rodney Davermann</li>
            <li>Matt Kenney</li>
            <li>Nwagbo Chidozie</li>
            <li>Ricardo</li>
          </ul>
        </div>
  </div>
  </div>
{% endblock %}

{% block javascript %}
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
{% endblock %}
