{% extends 'base.html' %}

{% block title %}Graph B{% endblock %}

{% block content %}
    <div id="scatter-plot"></div>
{% endblock %}

{% block javascript %}
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/dataGraphB.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotGraphB.js') }}"></script>
{% endblock %}
